h1{
    color:rgb(10, 10, 10);
    
    font: 30px "Helvetica Neue",Helvetica;
    width: 25%;
}

p{
    font-size: 20px;
}
section{
    background-color:rgb(233, 227, 227)
}

nav{
    font-size: 15px;
    background-color: rgb(235, 205, 227);
    width: 36%;
}

header>img{
    width:100%
}